CREATE TABLE giay_to_xe (
    id INT PRIMARY KEY AUTO_INCREMENT,
    xe_id INT NOT NULL,
    loai_giay_to ENUM('dang_ky', 'bao_hiem', 'kiem_dinh') NOT NULL,
    url_hinh_anh VARCHAR(255) NOT NULL,
    ngay_tao TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (xe_id) REFERENCES xe(id)
);
