<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý xe</title>
  <link rel="stylesheet" href="../public/css/stylesAdmin.css">
</head>
<body>
    
  <div class="header">
    <div class="header-inner">
      <div class="logo-header">
        <img src="../public/image/AutomotiveCar.png" alt="AutomotiveCar" />
      </div>
      <ul class="menu">
        <li><a href="AdminTrangChu.html">Thống Kê</a></li>
        <li><a href="AdminQuanLyKH.html">Quản Lý Khách Hàng</a></li>
        <li><a href="AdminQLXe.html">Quản Lý Xe</a></li>
        <li><a href="AdminQuanLyNguoiDung.html">Quản Lý Người Dùng</a></li>
        <li><a href="LienHe.html">Quản Lý Giao Dịch</a></li>
        <li><a href="LienHe.html">Quản Lý Voucher</a></li>
        <li><a href="LienHe.html">Đăng Nhập</a></li>
      </ul>
    </div>
  </div>

  <div class="car-list-container">
    <div class="header1">
      <h2>Danh sách xe <span>(7 xe)</span></h2>
      <div class="search-add">
        <input type="text" placeholder="Search..." />
        <button class="btn-add">+ Thêm</button>
      </div>
    </div>

    <table>
      <thead>
        <tr >
          <th>STT</th>
          <th>Hình</th>
          <th>Tên xe</th>
          <th>Biển số</th>
          <th>Giá thuê</th>
          <th>Loại xe</th>
          <th>Tùy chọn</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><img src="https://i.imgur.com/qbT8JmH.jpg" alt="Mercedes" /></td>
          <td><a href="#">Mercedes C200</a></td>
          <td>43A-9999</td>
          <td>6,200,000 đồng</td>
          <td>4 chỗ</td>
          <td><a href="#" class="update">Cập nhật</a> | <a href="#" class="delete">Xóa</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td><img src="https://i.imgur.com/ALlI4Fc.jpg" alt="Audi" /></td>
          <td><a href="#">Audi A5</a></td>
          <td>92A-9999</td>
          <td>6,000,000 đồng</td>
          <td>4 chỗ</td>
          <td><a href="#" class="update">Cập nhật</a> | <a href="#" class="delete">Xóa</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td><img src="https://i.imgur.com/khH6NHr.jpg" alt="County" /></td>
          <td><a href="#">Hyundai County</a></td>
          <td>43D-45678</td>
          <td>2,500,000 đồng</td>
          <td>16 chỗ</td>
          <td><a href="#" class="update">Cập nhật</a> | <a href="#" class="delete">Xóa</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td><img src="https://i.imgur.com/9zXD6tY.jpg" alt="Thaco" /></td>
          <td><a href="#">Thaco</a></td>
          <td>92A-123789</td>
          <td>8,000,000 đồng</td>
          <td>24 chỗ</td>
          <td><a href="#" class="update">Cập nhật</a> | <a href="#" class="delete">Xóa</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td><img src="https://i.imgur.com/ZF6s192.jpg" alt="Ford Transit" /></td>
          <td><a href="#">Ford Transit</a></td>
          <td>75A-5656</td>
          <td>6,000,000 đồng</td>
          <td>16 chỗ</td>
          <td><a href="#" class="update">Cập nhật</a> | <a href="#" class="delete">Xóa</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
